# escludo gli artefatti di build
[Oo]bj
[Bb]in

.vscode
venv
# per non versionare le configurazioni di sonarqube
.sonarqube
sonarqube.sh

# per non versionare l'ouput di coverlet
coverage.opencover.xml 